<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Miss username!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="icon" type="image/png" href="/assets/img/favicon.png">
	<meta name="robots" content="noindex nofollow nocache" />
	<meta name="theme-color" content="#9246FE">
</head>
<body>
	<section>
		<h1>Miss username!</h1>
		<p>Please add a username like
			<a href="/thomasbnt"><code>/thomasbnt</code></a></p>
	</section>
	<footer>
		<a href="../p/about">
			About
		</a>
		<a href="https://thomasbnt.dev/privacy" target="_blank" rel="noopener noreferrer">
			Privacy Policy
		</a>
		<a href="https://thomasbnt.dev/terms" target="_blank" rel="noopener noreferrer">
			Terms of Service
		</a>
	</footer>
</body>
</html>